<div id="content">
    <header class="column-xs main-xs-between cross-xs-center full-image-wrap">
      <img src="https://wallpapercave.com/dwp2x/wp1874155.jpg" alt="background-img">
      <h1 class="column-xs main-xs-center">The Old Ebbitt Grill</h1>

      <a href="#main" class="down-arr">&#8595;</a>
    </header>
    <main id="main">
      <section class="row-xs main-xs-center cross-xs-center">
        <h3>Bell and Peppers, was founded in 1856 when, according to legend, innkeeper William E. Ebbitt bought a boarding house. Today, no one can pinpoint the house’s exact location, but it was most likely on the edge of present-day Chinatown.

            As a boarding house, the Ebbitt guest list read like a Who's Who of American History. President McKinley is said to have lived there during his tenure in Congress, and Presidents Ulysses S. Grant, Andrew Johnson, Grover Cleveland, Theodore Roosevelt and Warren Harding supposedly refreshed themselves at its stand-around bar.</h3>
      </section>
      <section>
<div class="mid-bod">
  <button  class="logout" id="a" type="submit" [routerLink]="'/login'">Logout</button>
  <button class="dashboard" id="a" type="submit" [routerLink]="'/dashboard'">Dashboard</button>
  <button mat-button color="primary" id="a" class="Reservation" type="submit" [routerLink]="'/booking'">Reservation</button>
  <br>

  <div class="pictures">
<div class="img1">
    <a href=""> <img class="img_bod" src="https://images.unsplash.com/photo-1559925393-8be0ec4767c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"></a>

</div>
<div class="img1">
  <a [routerLink]="'/food'">
    <img class="img_bod" src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
</a>
</div>
<div class="img2">
    <img class="img_bod" src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
</div>
</div>
</div>
      </section>
      <section class="row-xs main-xs-center cross-xs-center">
        <h3>The authentic taste comes from family recipes and from fresh, simple and tasteful ingredients straight from home.</h3>
      </section>

    </main>
  </div>