<div id="content">
    <main id="main">
      <section>
<div class="mid-bod">
  <div class="pictures">
<div class="img1">
    <a [routerLink]="'/burgerdetails'">
 <img class="img_bod" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Hamburger_%28black_bg%29.jpg/800px-Hamburger_%28black_bg%29.jpg"></a>
 <p>Order-online</p>
</div>
<div class="img1">
  
    <img class="img_bod" src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">

</div>
<div class="img2">
    <img class="img_bod" src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">

</div>
</div>
</div>
      </section>
      <section class="row-xs main-xs-center cross-xs-center">
        <h3>Different Varieties To choose from.</h3>
      </section>

    </main>
  </div>